<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>North East Cane and Bamboo Development Councile</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Topbar Start -->
    <div class="container-fluid d-none d-lg-block">
        <div class="row align-items-center py-4 px-xl-5">
            <div class="col">
                <a href="" class="text-decoration-none">
                    <h2 class="m-0">North East Cane and Bamboo Development Council (NECBDC)</h2>
                    <p>UNDER NORTH EASTERN COUNCIL, MINISTRY OF DONER</p>
                </a>
            </div>

        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <div class="container-fluid">
        <div class="row border-top px-xl-5">

            <div class="col">
                <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                    <a href="" class="text-decoration-none d-block d-lg-none">
                        <h1 class="m-0">NECBDC</h1>
                    </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav py-0">
                            <a href=" / " class="nav-item nav-link active">Home</a>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">About CBTC</a>
                                <div class="dropdown-menu rounded-0 m-0">
                                    <a href="/history" class="dropdown-item">History</a>
                                    <a href="/CBTC Partners" class="dropdown-item">CBTC Partners</a>
                                    <a href="/Governing-Body" class="dropdown-item">Governing Body</a>
                                    <a href="/Staff" class="dropdown-item">CBTC Staff</a>
                                    <a href="/service" class="dropdown-item">Services</a>
                                    <a href="/Consultancy" class="dropdown-item">Consultancy</a>
                                    <a href="/rti" class="dropdown-item">Right to Information</a>

                                </div>
                            </div>
                            <a href="/projects" class="nav-item nav-link">Projects</a>
                            <a href="/news" class="nav-item nav-link">News</a>
                            <a href="/tenders" class="nav-item nav-link">Tenders</a>

                            <a href="/resources" class="nav-item nav-link">Resources</a>
                            <a href="/contact" class="nav-item nav-link">Contact</a>
                        </div>
                        <div class="">
                            <form action="">
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-lg" placeholder="Search">
                                    <div class="input-group-append">
                                        <span class="input-group-text bg-transparent text-primary"><i
                                                class="fa fa-search"></i></span>
                                    </div>
                                </div>
                            </form>
                        </div>


                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- Navbar End -->


    <!-- Header Start -->
    <div class="container-fluid page-header" style="margin-bottom: 90px;">
        <div class="container">
            <div class="d-flex flex-column justify-content-center" style="min-height: 300px">
                <h3 class="display-4 text-white text-uppercase">Single</h3>
                <div class="d-inline-flex text-white">
                    <p class="m-0 text-uppercase"><a class="text-white" href="">Home</a></p>
                    <i class="fa fa-angle-double-right pt-1 px-3"></i>
                    <p class="m-0 text-uppercase">Single</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <!-- Detail Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-8">
                    <div class="mb-5">

                        <h1 class="mb-5">Consultancy</h1>
                        <div>CBTC offers both modular and integrated turnkey service options to enterprises/entrepreneurs. The modules of services are Pre-enterprise Consultancy, Project Report Preparation, Project Appraisal and Viability Endorsement, Linkage with Funding Agencies, Technology Identification, Sourcing of Machineries and Equipment. Turnkey solutions are available for Bamboo Blinds, Bamboo Flooring Boards, Bamboo Toothpick, Bamboo Cotton Ear Buds, Bamboo Moulded Products, Bamboo Concrete Boards, Bamboo Ply Board, Bamboo Stick, Common Facility Centre, and Bamboo Match Stick.</div>
<div>&nbsp;</div>
<h2>Bamboo Blinds</h2>
<div>&nbsp;</div>
<div>Bamboo Blinds combines the utility and tradition to make a contemporary statement. Doors and windows curtained by bamboo blinds in interiors reflect the growing dependence on ecofriendly products. Globally the market for bamboo blinds is expanding at the rate of twenty percent (20%) per annum. Manufacture of bamboo blinds is a fresh new territory for existing manufacturers to diversify their product portfolio and is equally appealing to the entrepreneurship zeal of new promoters contemplating to venture into bamboo manufacturing units. Bamboo blinds are made of machine made round bamboo sticks. These are used as Door &amp; window curtain, blinds for opening, mats for table, chair and seats, wall hanging, carpets etc. This product is comparable with synthetic and wood material.</div>
<div>&nbsp;</div>
<h2>Bamboo Flooring/ Board</h2>
<div>This item is the latest entry in the flooring and interior decoration concept. This unique product provides an exotic oriental beauty to the interior of any room, and the high quality of Bamboo compared to wood guarantees a lifetime of enjoyment. Bamboo Flooring and bamboo board is also the most environmental friendly construction material. As consumers (especially in developed markets such as North America and Japan) have become increasingly environmentally conscious, this has become a strong marketing aspect of Bamboo. Bamboo's natural versatility is suitable to a variety of environments. The finished product is all- around coated and protected against insects and fungus. It is suitable for all residential and commercial installation - in bedrooms, living rooms, kitchens, offices, schools, and hospitals. The product is computable with Marble, Granite, Wooden flooring, Carpet, PVC flooring, Ceramic tiles, Laminated flooring etc.</div>
<div>&nbsp;</div>
<h2>Bamboo Toothpicks:</h2>
<div>&nbsp;</div>
<div>Bamboo Toothpick is the safest tool for clearing the locked in solid food materials/particles between the teeth. These are hygienic and user friendly material to be used inside the mouth. These are made of bamboo thin sticks with pointed tip at one end. Raw material is naturally abundant in the state and eco-friendly renewable bamboo. It is harder than synthetic toothpick &amp; many species of wood. As consumers (Especially) in developed markets such as North America &amp; Japan) have become increasingly environment conscious, this has become a strong marketing aspects of Bamboo. This product is compatible with synthetic and wood materials.</div>
<div>&nbsp;</div>
<div>Bamboo Match Stick:</div>
<div>The major raw material for match industry is wood splints. Aspen wood is being preferentially used for manufacture of match splints. As the supply of aspen wood is limited in India, other species such as semul, sawal, kadam, poplar, rubber have been identified as alternative species for match splints. There is a gap between demand and supply of wood raw material and the demand is always been higher. Scarcity of wood raw material has compelled the industrialists to cut down their production. Search has been made for alternate source of raw material for match splints. IPIRTI has collaborated with INBAR to develop technology for making bamboo match splints. 2-3 years old bamboo is quite suitable for use. Anatomical structure of bamboo with respect to strength and fast growing features has encouraged its adoption for production of match splints.</div>
<div>&nbsp;</div>
<div>Bamboo Concrete Board:</div>
<div>Bamboo Concrete forming Board is the newest and most revolutionary product in the building scenario. It is also the most environmental friendly construction material available. Although bamboo looks and behaves like a superior hardwood, Bamboo is actually a grass-unlike wood forest, which takes decades to regenerate, the bamboo clumps only take a few years to renew themselves. As consumers (especially in developed markets such as North America, Europe, Australia and Japan) have become increasingly environmentally conscious, this has become a strong marketing aspect of bamboo. Bamboo's naturally versatility is suitable to a variety of environments. The finished product is all around coated and protected against damp, insects and fungus. It is suitable for all residential and commercial installations as the concrete forming board is a great cost saving material, since a board can be used at least 20-25 times in Indian climatic conditions though the same is used 43-45 times in China and other countries.</div>
<div>&nbsp;</div>
<h2>Common Facility Centre:</h2>
<div>The far eastern countries, which now dominate World Bamboo market, the major units/artisans are supplied with semi-finished raw material for enhancing their production. A craftsmen in those countries do not require to produce from initial bamboo cutting stage to finishing stage. Such supplies of semi-finished raw material are either catered by the Government run agencies or voluntary organization. Therefore, to generate more and more employment in bamboo sector and to introduce industrialized handicrafts and to venture in world market, it is proposed to set up Bamboo Common Facility Centres which will cater the need for semi-finished raw material of standard quality with treatment and seasoning facility. This will help major units/craft person to produce more and sell more which in turn will give them much expected economic benefits.</div>
<div>&nbsp;</div>
<h2>Bamboo Moulded Products:</h2>
<div>Bamboo based household articles such as tray can be a substitute to wood based and high energy aluminium and plastic trays which are not only unsustainable but are also non-degradable and are considered non-people friendly. Bamboo mat based trays can be produced in small/cottage industries involving the village and tribal women folks. They are low capital oriented and can be established in rural areas where electricity is available providing employment to the rural/tribal poor leading to the economic development of such areas.</div>
<div>&nbsp;</div>
<div>This is a small investment high profit technology and can be adopted by the rural/tribal sector and even under self help scheme. The industry can be totally managed by women folk, the two major requirements being the availability of raw material i.e. Bamboo and adhesive for bonding/moulding them into products and availability of electricity. The expected demand for this product is such that with an estimated production capacity of 30,000 trays per year, every district can have a cottage industry for tray manufacture.</div>
<div>&nbsp;</div>
<h2>Bamboo Sticks:</h2>
<div>Round bamboo sticks are mostly used in the manufacture of Incense (Agarbatti) Stick. Also are used for manufacture of handicraft items, Kulfi-ice cream, Kites, Novelties and agriculture products. All the industries irrespective of indigenous, international or multinational companies needs bamboo sticks for producing Agarbatti. The emergence of multinational companies has created the market of Agarbattis manufactured with the use of machine made round bamboo sticks.</div>
<div>&nbsp;</div>
<h2>Bamboo Cotton Ear Buds:</h2>
<div>Cotton Ear Buds are the safest tool for cleaning ears. These are made of bamboo sticks with both the ends covered by cotton. The standard length of ear buds stick is 72 mm. The product is medically recognized and approved for its use and have got both domestic as well as export market potential. The product is compatible with the ear buds made of wood and synthetic materials.</div>

                    </div>

                </div>

                <div class="col-lg-4 mt-5 mt-lg-0">



                  <!-- Recent Tenders -->
                  <div class="mb-5">
                      <h3 class="text-uppercase mb-4" style="letter-spacing: 5px;">Whats New</h3>
                      <ul class="list-group list-group-flush">
                        <% if(nTender<5){%>
                          <% for(var i=( nArticle-1); i>=0; i--){ %>

                          <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                              <a href="/article/<%= recentArticle[i].title%>" class="text-decoration-none h6 m-0"><%= recentArticle[i].title%></a>
                          </li>
                          <% }%>
                          <% }else{ %>
                          <% for(var i=( nArticle-1); i>=nArticle-5; i--){ %>
                            <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                <a href="/article/<%= recentArticle[i].title%>" class="text-decoration-none h6 m-0"><%= recentArticle[i].title%></a>
                            </li>

                          <% } }%>
                      </ul>
                  </div>

                  <!-- Recent Tenders -->
                  <div class="mb-5">
                      <h3 class="text-uppercase mb-4" style="letter-spacing: 5px;">Latest Tenders</h3>
                      <% if(nTender<5){%>
                        <% for(var i=( nTender-1); i>=0; i--){ %>
                        <a class="d-flex align-items-center text-decoration-none mb-3" href="">
                          <div class="">
                              <h6 class="m-1"><%= recentTender[i].title%></h6>
                              <small><%= recentTender[i].issuedDate%></small>
                          </div>
                        </a>
                        <hr>
                        <% }%>


                      <% }else{ %>
                      <% for(var i=( nTender-1); i>=nTender-5; i--){ %>
                      <a class="d-flex align-items-center text-decoration-none mb-3" href="">
                          <div class="">
                              <h6 class="m-1"><%= recentTender[i].title%></h6>
                              <small><%= recentTender[i].issuedDate%></small>
                          </div>
                      </a>
                      <hr>
                      <% } }%>




                  </div>

                    <!-- Tag Cloud -->

                </div>
            </div>
        </div>
    </div>
    <!-- Detail End -->


    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-white py-5 px-sm-3 px-lg-5" style="margin-top: 90px;">
        <div class="row pt-5">
            <div class="col-lg-7 col-md-12">
                <div class="row">
                    <div class="col-md-6 mb-5">
                        <h5 class="text-primary text-uppercase mb-4" style="letter-spacing: 5px;">Get In Touch</h5>
                        <p><i class="fa fa-map-marker-alt mr-2"></i>123 Street, New York, USA</p>
                        <p><i class="fa fa-phone-alt mr-2"></i>+012 345 67890</p>
                        <p><i class="fa fa-envelope mr-2"></i>info@example.com</p>
                        <div class="d-flex justify-content-start mt-4">
                            <a class="btn btn-outline-light btn-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light btn-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light btn-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-outline-light btn-square" href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="col-md-6 mb-5">
                        <h5 class="text-primary text-uppercase mb-4" style="letter-spacing: 5px;">Our Courses</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Web Design</a>
                            <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Apps Design</a>
                            <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Marketing</a>
                            <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Research</a>
                            <a class="text-white" href="#"><i class="fa fa-angle-right mr-2"></i>SEO</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-12 mb-5">
                <h5 class="text-primary text-uppercase mb-4" style="letter-spacing: 5px;">Newsletter</h5>
                <p>Rebum labore lorem dolores kasd est, et ipsum amet et at kasd, ipsum sea tempor magna tempor. Accu kasd sed ea duo ipsum. Dolor duo eirmod sea justo no lorem est diam</p>
                <div class="w-100">
                    <div class="input-group">
                        <input type="text" class="form-control border-light" style="padding: 30px;" placeholder="Your Email Address">
                        <div class="input-group-append">
                            <button class="btn btn-primary px-4">Sign Up</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark text-white border-top py-4 px-sm-3 px-md-5" style="border-color: rgba(256, 256, 256, .1) !important;">
        <div class="row">
            <div class="col-lg-6 text-center text-md-left mb-3 mb-md-0">
                <p class="m-0 text-white">&copy; <a href="#">Domain Name</a>. All Rights Reserved. Designed by <a href="https://htmlcodex.com">HTML Codex</a>
                </p>
            </div>
            <div class="col-lg-6 text-center text-md-right">
                <ul class="nav d-inline-flex">
                    <li class="nav-item">
                        <a class="nav-link text-white py-0" href="#">Privacy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white py-0" href="#">Terms</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white py-0" href="#">FAQs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white py-0" href="#">Help</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>
