<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>North East Cane and Bamboo Development Councile</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Topbar Start -->
    <div class="container-fluid d-none d-lg-block">
        <div class="row align-items-center py-4 px-xl-5">
            <div class="col">
                <a href="" class="text-decoration-none">
                    <h2 class="m-0">North East Cane and Bamboo Development Council (NECBDC)</h2>
                    <p>UNDER NORTH EASTERN COUNCIL, MINISTRY OF DONER</p>
                </a>
            </div>

        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <div class="container-fluid">
        <div class="row border-top px-xl-5">

            <div class="col">
                <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                    <a href="" class="text-decoration-none d-block d-lg-none">
                        <h1 class="m-0">NECBDC</h1>
                    </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav py-0">
                            <a href=" / " class="nav-item nav-link active">Home</a>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">About CBTC</a>
                                <div class="dropdown-menu rounded-0 m-0">
                                    <a href="/history" class="dropdown-item">History</a>
                                    <a href="/CBTC Partners" class="dropdown-item">CBTC Partners</a>
                                    <a href="/Governing-Body" class="dropdown-item">Governing Body</a>
                                    <a href="/Staff" class="dropdown-item">CBTC Staff</a>
                                    <a href="/service" class="dropdown-item">Services</a>
                                    <a href="/Consultancy" class="dropdown-item">Consultancy</a>
                                    <a href="/rti" class="dropdown-item">Right to Information</a>

                                </div>
                            </div>
                            <a href="/projects" class="nav-item nav-link">Projects</a>
                            <a href="/news" class="nav-item nav-link">News</a>
                            <a href="/tenders" class="nav-item nav-link">Tenders</a>

                            <a href="/resources" class="nav-item nav-link">Resources</a>
                            <a href="/contact" class="nav-item nav-link">Contact</a>
                        </div>
                        <div class="">
                            <form action="">
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-lg" placeholder="Search">
                                    <div class="input-group-append">
                                        <span class="input-group-text bg-transparent text-primary"><i
                                                class="fa fa-search"></i></span>
                                    </div>
                                </div>
                            </form>
                        </div>


                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- Navbar End -->

    <!-- Header Start -->
    <div class="container-fluid page-header" style="margin-bottom: 90px;">
        <div class="container">
            <div class="d-flex flex-column justify-content-center" style="min-height: 300px">
                <h3 class="display-4 text-white text-uppercase">Single</h3>
                <div class="d-inline-flex text-white">
                    <p class="m-0 text-uppercase"><a class="text-white" href="">Home</a></p>
                    <i class="fa fa-angle-double-right pt-1 px-3"></i>
                    <p class="m-0 text-uppercase">Single</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <!-- Detail Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-8">
                    <div class="mb-5">

                        <h1 class="mb-5">History of CBTC</h1>
                        <p>CBTC was established on the basis of the recommendations made by the various Working Groups, an idea took shape and this ultimately resulted in the formulation of the &ldquo;Cane and Bamboo Technological Upgradation and Networking Project&rdquo;.</p>
                        <p>&nbsp;</p>
                            <p><strong>ALL-INDIA SEMINAR ON BAMBOO DEVELOPMENT</strong></p>
                            <p><strong>New Delhi, 9 &ndash; 11 August 1999<br />Ministry of Environment and Forests, UNIDO, UNDP. FAO &amp; INBAR</strong></p>
                            <p><strong>Seminar Summary</strong></p>
                            <p>This Seminar was the first step of a UN system initiative aimed at supporting the Government of India Bamboo Development Plan, announced by the Prime Minister on World Environment Day, 5 June 1999. It resulted from a visit, in March, Mr. Carlos Magarinos, Director General of UNIDO and was organized by the Ministry of Environment and Forests and UNIDO through a Regular budget project with technical and coordination support from UNDP, FAO and the International Network for Bamboo and Rattan (INBAR), based in Beijing, China. The seminar was oriented around six themes: resource development, food processing and products, handicrafts, manufactured or industrial products, construction and energy and &ldquo;high-tech&rdquo; considerations in an effort to encompass all the most important development issues for this valuable raw material. The programme is shown as Annex 1, which, although not indicating exactly the actual timing, represents the format of alternating plenary and thematic sessions.</p>
                            <p>The opening ceremony was attended by many senior officials of the Ministry including representatives of bamboo-producing States, technical institutes and industry who heard introductory remarks from the organizers and supporters as well as from four State Ministers, Mr. D. N. Tiwari, member of the National Planning Commission and Mr. Suresh Prabhu, Minister of Environment and Forests. The introductory remarks made by Mr. Robert Hallett on behalf of the Director General of UNIDO comprise Annex 2.</p>
                            <p>The Forest Ministers from Manipur, Mizoram, Meghalaya and Nagaland all spoke of the considerable bamboo resources available in their States that were not being managed nor used to their full potential. The Minister from Manipur called for a &ldquo;Bamboo Development and Marketing Board&rdquo; and appreciated the thematic approach. The Minister from Mizoram noted that 66% of growing stock was in his State and drew attention to the flowering of its bamboos in 2007 and the immense challenge faced to avoid the famine caused by the rats which would follow. He proposed the establishment of a &ldquo;Bamboo Research Institute&rdquo;, a study tour of bamboo processing South East Asian countries and invited a team of experts to visit the Northeast States.</p>
                            <p>The Minster from Meghalaya called for eco-development for communities for adding value to the untapped resources and said that three District Forest Development Agencies had already been set up. He spoke of the need for seedlings, cooperatives and marketing as well as fiscal support. The Minister from Nagaland underscored the importance of bamboo for his people by saying that &ldquo;Nagas eat bamboo from root to leaf&rdquo;. Bamboo was used in virtually every aspect of life but technical and financial support was essential for development despite the relative success of the 7-year rotation due to slash and burn methods.</p>
                            <p>Dr. Tewari spoke of trade development. and the policy and legal changes needed for the development of all uses and for the &ldquo;greening of India&rdquo;, saying that for fuller value added bamboo must appear on the &ldquo;positive list&rdquo; for trade.</p>
                            <p>Mr. Prabhu stressed the need to stop pollution and redefine development, saying that clean air and water were the real fundamental needs of people &ndash; over food, shelter and clothing. He referred to his meeting with Mr. Magarinos noting that bamboo development fell into all three of UNIDO&rsquo;s priorities &ndash; environment,. employment and economy. He supported the need for a gender bias as mentioned by Ms. Brenda McSweeney, UNDP Resident Representative &amp; UN Resident Coordinator. Bamboo should not be referred to as &ldquo;poor man&rsquo;s timber&rdquo; owing to the predominant role of women in its processing and use. In fact, the term &ldquo;Green Gold&rdquo;, used by Dr. Sastry, INBAR in his presentation on international developments and trends was more apt since there were many uses not related to timber or wood and so this better reflected its huge potential. He announced that all Ministries would support the Bamboo Development Plan and recommended that each should set up a &ldquo;Bamboo cell&rdquo; for coordination.</p>
                            <p>After the opening, working groups were formed to review past efforts, recommend policy changes and define actions. The main (preliminary) recommendations were:</p>
                            <p>a) Improve statistical and inventory data on bamboo and silvicultural and management practices.</p>
                            <p>b) Undertake large-scale plantings with investment in nurseries and careful selection of species linked to end-use requirements.</p>
                            <p>c) Examine the appropriate definition of bamboo as a minor forest product, non-timber forest product or timber and its economic and resource management implications.</p>
                            <p>d) Consider delegating authority for certification for eco-labelling and transit permits to Panchayats.</p>
                            <p>e) Identify species for food products, especially shoots, raise plantations and involve local farmers through rural extension centres and model large-scale farming/forestry units.</p>
                            <p>f) Prepare techno-economic feasibility studies on fresh and processed bamboo shoot production, and on traditional knowledge base for converting to high value-added products from shoots and leaves.</p>
                            <p>g) Establish prototype demonstration units as processing incubators-cum pilot plants in two areas: Mizoram and Malnad, Karnataka.</p>
                            <p>h) Complement the ongoing UNDP, KVIC project on handicrafts with additional technical inputs aimed at increasing the supply and quality of finished articles and semi-processed products for further industrial processing under the headings: raw material, processing and treatment, technology and tools, product development and design, training, financial support, marketing, policy issues and networking.</p>
                            <p>i) Create 10-20 &ldquo;Common Facility Centres&rdquo; for collection, pre-processing and marketing of bamboo as well as for training and demonstration and common purchasing benefits.</p>
                            <p>j) Promote available technologies for bamboo mat based composites, adapt advanced technologies for manufacturing bamboo strip board and laminates for furniture, truck and container flooring, railway coaches and interior paneling and decorative uses; (N.B. Some products will be displayed at World Expo 2000, Hanover, Germany).</p>
                            <p>k) Develop split bamboo products such as toothpicks, chopsticks, incense sticks, ice cream spoons and other specialty items for export as well as bamboo for packaging and for agri-horticulture accessories.</p>
                            <p>l) Form a &ldquo;Furniture Manufacturers Association&rdquo;, with a bamboo section, catalogue and develop bamboo processing machines and equipment, promote products through architects and designers by Internet, exhibitions and displays.</p>
                            <p>m) Coordinate with the INBAR programme to develop a National Bamboo Building Code of Practice, produce guidelines for construction with bamboo.</p>
                            <p>n) Document and re-engineer traditional bamboo house construction, produce appropriate manuals, build demonstration houses; and train in improved methods.</p>
                            <p>o) Include bamboo in MoEF plantation programmes with the aim of producing fuel and other bamboo products for rural areas.</p>
                            <p>p) Prepare techno-economic feasibility studies on: conversion of bamboo residues into high energy fuel by briquetting, gasification, flash pyrolysis and identify appropriate technologies; on conversion of bamboo residues into cattle feed; and on production of pharmaceuticals and other high value materials.</p>
                            <p>Other interesting points made by various participants were:</p>
                            <ul>
                            <li>&ldquo;Successful transformation or value addition needs the right combination of plant &ndash; design -technology&rdquo;;</li>
                            <li>&ldquo;Machines drive Industry&rdquo;- hence the need for studying their domestic production and training in use;</li>
                            <li>&ldquo;All the research has been done &ndash; the need is for application and commercialization&rdquo;</li>
                            <li>&ldquo;Create a legal role for the stewards of the resource &ndash; the people&rdquo;; &ldquo;Train the up-country people&rdquo;; &ldquo;Scale up the potential for this poor man&rsquo;s timber&rdquo;;</li>
                            <li>&ldquo;Train the men and provide credit and business advisory services to the women for success in enterprise development&rdquo;;</li>
                            <li>&ldquo;Technology gaps need to be identified&rdquo; (with respect to other bamboo-processing countries);</li>
                            <li>&ldquo;Awareness generation is essential for marketing&rdquo;;</li>
                            <li>&ldquo;E-commerce is taking off fast &ndash; can India catch up?&rdquo;;</li>
                            <li>&ldquo;It is important to respect intellectual property rights regarding traditional processing methods&rdquo;;</li>
                            <li>&ldquo;Enterprise development is a priority in the Northeast but absorptive capacity must be considered&rdquo;.</li>
                            </ul>
                            <p>Each thematic group prepared a Section for this report and included recommendations with cost estimates and indications of possible collaborating and funding agencies and institutions.</p>
                              <p>On the basis of the recommendations made by the various Working Groups, an idea took shape and this ultimately resulted in the formulation of the &ldquo;Cane and Bamboo Technological Upgradation and Networking Project&rdquo;.</p>
                    </div>

                </div>

                <div class="col-lg-4 mt-5 mt-lg-0">



                  <!-- Recent Tenders -->
                  <div class="mb-5">
                      <h3 class="text-uppercase mb-4" style="letter-spacing: 5px;">Whats New</h3>
                      <ul class="list-group list-group-flush">
                        <% if(nTender<5){%>
                          <% for(var i=( nArticle-1); i>=0; i--){ %>

                          <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                              <a href="/article/<%= recentArticle[i].title%>" class="text-decoration-none h6 m-0"><%= recentArticle[i].title%></a>
                          </li>
                          <% }%>
                          <% }else{ %>
                          <% for(var i=( nArticle-1); i>=nArticle-5; i--){ %>
                            <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                <a href="/article/<%= recentArticle[i].title%>" class="text-decoration-none h6 m-0"><%= recentArticle[i].title%></a>
                            </li>

                          <% } }%>
                      </ul>
                  </div>

                  <!-- Recent Tenders -->
                  <div class="mb-5">
                      <h3 class="text-uppercase mb-4" style="letter-spacing: 5px;">Latest Tenders</h3>
                      <% if(nTender<5){%>
                        <% for(var i=( nTender-1); i>=0; i--){ %>
                        <a class="d-flex align-items-center text-decoration-none mb-3" href="">
                          <div class="">
                              <h6 class="m-1"><%= recentTender[i].title%></h6>
                              <small><%= recentTender[i].issuedDate%></small>
                          </div>
                        </a>
                        <hr>
                        <% }%>


                      <% }else{ %>
                      <% for(var i=( nTender-1); i>=nTender-5; i--){ %>
                      <a class="d-flex align-items-center text-decoration-none mb-3" href="">
                          <div class="">
                              <h6 class="m-1"><%= recentTender[i].title%></h6>
                              <small><%= recentTender[i].issuedDate%></small>
                          </div>
                      </a>
                      <hr>
                      <% } }%>




                  </div>

                    <!-- Tag Cloud -->

                </div>
            </div>
        </div>
    </div>
    <!-- Detail End -->


    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-white py-5 px-sm-3 px-lg-5" style="margin-top: 90px;">
        <div class="row pt-5">
            <div class="col-lg-7 col-md-12">
                <div class="row">
                    <div class="col-md-6 mb-5">
                        <h5 class="text-primary text-uppercase mb-4" style="letter-spacing: 5px;">Get In Touch</h5>
                        <p><i class="fa fa-map-marker-alt mr-2"></i>123 Street, New York, USA</p>
                        <p><i class="fa fa-phone-alt mr-2"></i>+012 345 67890</p>
                        <p><i class="fa fa-envelope mr-2"></i>info@example.com</p>
                        <div class="d-flex justify-content-start mt-4">
                            <a class="btn btn-outline-light btn-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light btn-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light btn-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-outline-light btn-square" href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="col-md-6 mb-5">
                        <h5 class="text-primary text-uppercase mb-4" style="letter-spacing: 5px;">Our Courses</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Web Design</a>
                            <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Apps Design</a>
                            <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Marketing</a>
                            <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Research</a>
                            <a class="text-white" href="#"><i class="fa fa-angle-right mr-2"></i>SEO</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-12 mb-5">
                <h5 class="text-primary text-uppercase mb-4" style="letter-spacing: 5px;">Newsletter</h5>
                <p>Rebum labore lorem dolores kasd est, et ipsum amet et at kasd, ipsum sea tempor magna tempor. Accu kasd sed ea duo ipsum. Dolor duo eirmod sea justo no lorem est diam</p>
                <div class="w-100">
                    <div class="input-group">
                        <input type="text" class="form-control border-light" style="padding: 30px;" placeholder="Your Email Address">
                        <div class="input-group-append">
                            <button class="btn btn-primary px-4">Sign Up</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark text-white border-top py-4 px-sm-3 px-md-5" style="border-color: rgba(256, 256, 256, .1) !important;">
        <div class="row">
            <div class="col-lg-6 text-center text-md-left mb-3 mb-md-0">
                <p class="m-0 text-white">&copy; <a href="#">Domain Name</a>. All Rights Reserved. Designed by <a href="https://htmlcodex.com">HTML Codex</a>
                </p>
            </div>
            <div class="col-lg-6 text-center text-md-right">
                <ul class="nav d-inline-flex">
                    <li class="nav-item">
                        <a class="nav-link text-white py-0" href="#">Privacy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white py-0" href="#">Terms</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white py-0" href="#">FAQs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white py-0" href="#">Help</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>
