<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>North East Cane and Bamboo Development Councile</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="Free HTML Templates" name="keywords">
  <meta content="Free HTML Templates" name="description">

  <!-- Favicon -->
  <link href="img/favicon.ico" rel="icon">

  <!-- Google Web Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

  <!-- Font Awesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

  <!-- Libraries Stylesheet -->
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

  <!-- owl carousel JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

  <!-- Customized Bootstrap Stylesheet -->
  <link href="css/style.css" rel="stylesheet">
  <!-- owl dots for project -->

</head>

<body>
  <!-- Topbar Start -->
  <div class="container-fluid d-none d-lg-block">
    <div class="row align-items-center py-4 px-xl-5">
      <div class="col">
        <a href="" class="text-decoration-none">
          <h2 class="m-0">North East Cane and Bamboo Development Council (NECBDC)</h2>
          <p>UNDER NORTH EASTERN COUNCIL, MINISTRY OF DONER</p>
        </a>
      </div>

    </div>
  </div>
  <!-- Topbar End -->


  <!-- Navbar Start -->
  <div class="container-fluid">
    <div class="row border-top px-xl-5">

      <div class="col">
        <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
          <a href="" class="text-decoration-none d-block d-lg-none">
            <h1 class="m-0">NECBDC</h1>
          </a>
          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav py-0">
              <a href=" / " class="nav-item nav-link active">Home</a>
              <div class="nav-item dropdown">
                <a href="/about " class="nav-link dropdown-toggle dropdown-item" data-toggle="dropdown">About CBTC</a>
                <div class="dropdown-menu rounded-0 m-0">
                  <a href="/history" class="dropdown-item">History</a>
                  <a href="/CBTC Partners" class="dropdown-item">CBTC Partners</a>
                  <a href="/Governing-Body" class="dropdown-item">Governing Body</a>
                  <a href="/Staff" class="dropdown-item">CBTC Staff</a>
                  <a href="/service" class="dropdown-item">Services</a>
                  <a href="/Consultancy" class="dropdown-item">Consultancy</a>
                  <a href="/rti" class="dropdown-item">Right to Information</a>

                </div>
              </div>
              <a href="/projects" class="nav-item nav-link dropdown-item">Projects</a>
              <a href="/article" class="nav-item nav-link dropdown-item">News</a>
              <a href="/tenders" class="nav-item nav-link dropdown-item">Tenders</a>

              <a href="/resources" class="nav-item nav-link dropdown-item">Resources</a>
              <a href="img/about.jpg" class="nav-item nav-link dropdown-item">Contact</a>
            </div>
            <div class="">
              <form action="/search" method="post">
                <div class="input-group">
                  <input type="text" class="form-control form-control-lg" placeholder="Search" name="searchInput">
                  <div class="input-group-append">
                    <button type="submit" name="button" class="btn btn-primary bg-primary"> <i class="fa fa-search"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>


          </div>
        </nav>
      </div>
    </div>
  </div>
  <!-- Navbar End -->


  <!-- Carousel Start -->
  <div class="container-fluid p-0 pb-5 mb-5">
    <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#header-carousel" data-slide-to="1"></li>

      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active" style="min-height: 300px;">
          <img class="position-relative w-100" src="https://necbdc.org.in/sites/default/files/styles/1080_x_510/public/article/necbdc1.jpg?itok=g1960kL8" style="min-height: 300px; object-fit: cover;">
          <div class="carousel-caption d-flex align-items-center justify-content-center">
            <div class="p-5" style="width: 100%; max-width: 900px;">
              <h5 class="text-white text-uppercase mb-md-3">To promote bamboo sector</h5>
              <h1 class="display-3 text-white mb-md-4"> J&K govt signs pact with NECBDC</h1>
            </div>
          </div>
        </div>
        <div class="carousel-item" style="min-height: 300px;">
          <img class="position-relative w-100" src="img/landing page necbdc.jpeg" style="min-height: 300px; object-fit: cover;">
          <div class="carousel-caption d-flex align-items-center justify-content-center">
            <div class="p-5" style="width: 100%; max-width: 900px;">
              <h5 class="text-white text-uppercase mb-md-3"> launched</h5>
              <h1 class="display-3 text-white mb-md-4">Bamboo shoot processing training unit</h1>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- Carousel End -->



  <!-- Blog Start -->
  <div class="container-fluid py-5">
    <div class="container py-5">
      <div class="row">

        <div class="col-lg-8">
          <div class="text-left mb-4">
            <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">About Us</h5>
            <h1>Welcome to NECBDC</h1>
          </div>
          <p>Formerly knows as CBTC, NECBDC was incorporated with the objective of organizing the hitherto untapped bamboo sector of NE India which is a significant occupant of its topography, culture and customary practices since time immemorial.
            NECBDC involves its creativity and resource in talent scouting, training, technology sourcing, market linkage for giving a new age thrust to the age old bamboo sector. Keeping in mind the fast track changes in the global marketplace,
            contemporizing the traditional presentational aesthetics of bamboo end products receives our priority. In this never ending endeavor of NECBDC to unleash a new dimension to bamboo of North East, we have set a benchmark to measure our
            impact. Unfailingly the apex index of our benchmark is: how many more homes did we add today to the bamboo grove of happiness and prosperity!</p>
          <a href="/about" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Learn More</a>
        </div>


        <div class="col-lg-4">
          <div class="mytabs">
            <input type="radio" id="tabfree" name="mytabs" checked="checked">
            <label for="tabfree">Tenders</label>
            <div class="tab">
              <ul class="list-group list-group-flush">
                <% if(nTender< 5){ %>

                <% for(var i=( nTender-1); i>=0; i--){ %>

                <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                  <a href="/tenders/<%= recentTender[i].title%>" class="text-decoration-none h6 m-0"><%= recentTender[i].title%></a>
                </li>
                <% }%>


                <% }else{ %>
                <% for(var i=( nTender-1); i>=nTender-5; i--){ %>
                <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                  <a href="/tenders/<%= recentTender[i].title%>" class="text-decoration-none h6 m-0"><%= recentTender[i].title%></a>
                </li>
                <% } }%>

              </ul>
            </div>

            <input type="radio" id="tabsilver" name="mytabs">
            <label for="tabsilver">News</label>
            <div class="tab">

              <ul class="list-group list-group-flush">
                <% if(nArticle< 5){ %>

                <% for(var i=( nArticle-1); i>=0; i--){ %>

                <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                  <a href="/article/<%= recentArticle[i].title%>" class="text-decoration-none h6 m-0"><%= recentArticle[i].title%></a>
                </li>

                <hr>
                <% }%>


                <% }else{ %>
                <% for(var i=( nArticle-1); i>=nArticle-5; i--){ %>
                <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                  <a href="/tenders/<%= recentArticle[i].title%>" class="text-decoration-none h6 m-0"><%= recentArticle[i].title%></a>
                </li>
                <% } }%>

              </ul>


            </div>



          </div>
        </div>

      </div>
    </div>
  </div>
  </div>
  <hr>
  <!-- Blog End -->




  <!-- Recent Projects -->
  <div class="container-fluid py-5">
    <div class="container py-5">
      <div class="text-center mb-5">
        <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Projects</h5>
        <h1>Featured Projects</h1>
      </div>
      <div class="">
        <div class="home-demo">

          <div class="owl-carousel owl-theme  ">
            <%for(var i=0; i< nProject; i++){%>
            <div class="item ">
              <div class=" text-center team mb-4  team mb-4">
                <div class="team-item rounded overflow-hidden mb-2">
                  <div class=" position-relative">
                    <img class="" src="/img/<%=recentProject[i].imglink[0]%>" alt="">

                  </div>
                  <div class="bg-secondary p-4">

                    <li class="d-flex justify-content-between align-items-center px-0">
                      <a href="/projects/<%= recentProject[i].title %>" class="text-decoration-none h5 m-0"><%= recentProject[i].title %></a>
                    </li>
                  </div>
                </div>
              </div>
            </div>
            <%}%>




          </div>
          <div class="text-center">
            <a href="/projects" class="  btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">View All Projects</a>
          </div>
        </div>
      </div>


    </div>
  </div>
  <!-- Courses End -->
  <hr>




  <!--what we do -->
  <div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
      <div class="text-center mb-5">
        <h1>What We Do?</h1>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-3 text-center team mb-4">
          <div class="team-item rounded overflow-hidden mb-2">
            <div class="team-img position-relative">
              <img class="img-fluid" src="https://necbdc.org.in/sites/default/files/imageblock/consultancy.jpg" alt="">

            </div>
            <div class="bg-secondary p-4">
              <h5>Consultancy</h5>
              <p class="m-0">CBTC provides consultancy to entrepreneurs and organizations</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 text-center team mb-4">
          <div class="team-item rounded overflow-hidden mb-2">
            <div class="team-img position-relative">
              <img class="img-fluid" src="https://necbdc.org.in/sites/default/files/imageblock/promotion.jpg" alt="">

            </div>
            <div class="bg-secondary p-4">
              <h5>Promotions</h5>
              <p class="m-0">CBTC provides marketing support to bamboo Artisans and entrepreneurs</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 text-center team mb-4">
          <div class="team-item rounded overflow-hidden mb-2">
            <div class="team-img position-relative">
              <img class="img-fluid" src="https://necbdc.org.in/sites/default/files/imageblock/training.jpg" alt="">

            </div>
            <div class="bg-secondary p-4">
              <h5>Training</h5>
              <p class="m-0">CBTC has been providing training to artisans and entrepreneurs.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 text-center team mb-4">
          <div class="team-item rounded overflow-hidden mb-2">
            <div class="team-img position-relative">
              <img class="img-fluid" src="https://necbdc.org.in/sites/default/files/imageblock/networking.jpg" alt="">

            </div>
            <div class="bg-secondary p-4">
              <h5>Networking</h5>
              <p class="m-0">CBTC partners with several national & international organizations.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <hr>
  <!-- Team End -->


  <!-- Testimonial Start what people says about us  -->
  <div class="container-fluid py-5">
    <div class="container py-5">
      <div class="text-center mb-5">
        <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Testimonial</h5>
        <h1>What People Say About CBTC</h1>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="owl-carousel testimonial-carousel">
            <div class="text-center">
              <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
              <h4 class="font-weight-normal mb-4">Indeed educative and the service rendered by the CBTC would go a long way in revolutionising Bamboo & Cane industry in the North East India and country at large.</h4>
              <h5 class="m-0 font-weight-bold ">Dr S.N. Hegde</h5>
              <br>
              <span>Director, State Forests Research Institute (SFRI), <br> Itanagar, Arunachal Pradesh</span>
            </div>
            <div class="text-center">
              <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
              <h4 class="font-weight-normal mb-4">I take it as a privilege to see the exquisite designs of bamboo boards which I think is the first of its kind in the country. I praise the designers wholeheartedly. I wish them the best of the best in future in their endeavor to building an era of bamboo</h4>
              <h5 class="m-0 font-weight-bold ">G Malawm Dawngliana</h5>
              <br>
              <span>Joint Director, Directorate of Industries, <br>Government of Mizoram, Aizawl</span>
            </div>
            <div class="text-center">
              <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
              <h4 class="font-weight-normal mb-4">It is unbelievable, wonderful magic of bamboo. If the technology is introduced in the Northeast, it will be a grooved success.</h4>
              <h5 class="m-0 font-weight-bold ">H. Goswami,</h5>
              <br>
              <span> Deputy Resident Commissioner, <br>Government of Manipur, Guwahati</span>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center m-4 pt-4">
        <a href="/feedBack" class="  btn btn-primary  bg-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Read More</a>
      </div>
    </div>
  </div>
  <!-- Testimonial End -->

  <hr>
  <!-- Footer Start -->
  <div class="container-fluid  text-black py-5 px-sm-3 px-lg-5" style="">
    <div class="row ">
      <div class="col-lg-6 col-md-12">
        <div class="">
          <div class="col-md-12">
            <h1>North East Cane and Bamboo <br> Development Council </h1>
          </div>
          <br>
          <div class="col-md-12 mt-4  ">
            <h5>
              <div class="d-inline color-primary" >
                <i class="fa fa-map-marker-alt mr-2 text-primary"></i>
              </div>

              <div class="d-inline">
                13th Mile, G.S. Road, Burnihat 781023, Assam
              </div>
            </h5>
            <h5><i class="fa fa-phone-alt mr-2 text-primary"></i> <a href=""> Please check the list of contacts here.</a></h5>
            <h5><i class="fa fa-envelope mr-2 text-primary"></i> cbtcassam@gmail.com</h5>
            <div class=" pt-4 pb-0">
        <!-- Section: Social media -->
        <section class="">
          <!-- Facebook -->
          <a
             class="btn btn-primary btn-floating m-1"
             style="background-color: #3b5998;"
             href="#!"
             role="button"
             ><i class="fab fa-facebook-f"></i
            ></a>

          <!-- Twitter -->
          <a
             class="btn btn-primary btn-floating m-1"
             style="background-color: #55acee;"
             href="#!"
             role="button"
             ><i class="fab fa-twitter"></i
            ></a>

          <!-- Google -->
          <a
             class="btn btn-primary btn-floating m-1"
             style="background-color: #dd4b39;"
             href="#!"
             role="button"
             ><i class="fab fa-google"></i
            ></a>

          <!-- Instagram -->
          <a
             class="btn btn-primary btn-floating m-1"
             style="background-color: #ac2bac;"
             href="#!"
             role="button"
             ><i class="fab fa-instagram"></i
            ></a>

          <!-- Linkedin -->
          <a
             class="btn btn-primary btn-floating m-1"
             style="background-color: #0082ca;"
             href="#!"
             role="button"
             ><i class="fab fa-linkedin-in"></i
            ></a>
          <!-- Github -->
          <a
             class="btn btn-primary btn-floating m-1"
             style="background-color: #333333;"
             href="#!"
             role="button"
             ><i class="fab fa-github"></i
            ></a>
        </section>
        <!-- Section: Social media -->
      </div>

          </div>

        </div>
      </div>
      <div class="col-lg-6 col-md-12 mb-5 ">
        <div class="p-4">
          <h5 class="center text-uppercase mb-4 font-weight-bold ml-1 text-left" style="letter-spacing: 5px;">Sponsored by</h5>
          <img src="https://necbdc.org.in/sites/default/files/mdoner.jpg" alt="" class="pb-5 col-md-12 col-lg-10">
          <br>
          <img src="https://necbdc.org.in/sites/default/files/nec_0.jpg" alt="" class="pb-5 col-md-12 col-lg-8">


        </div>

      </div>
    </div>
  </div>
  <!-- Footer End -->


  <script type="text/javascript">
    $(function() {
      // Owl Carousel
      var owl = $(".owl-carousel");
      owl.owlCarousel({
        items: 3,
        margin: 10,
        loop: true,
        nav:true,
        dots: true,

      });

    });
  </script>



  <!-- Back to Top -->
  <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>


  <!-- JavaScript Libraries -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>

  <!-- Contact Javascript File -->
  <script src="mail/jqBootstrapValidation.min.js"></script>
  <script src="mail/contact.js"></script>

  <!-- Template Javascript -->
  <script src="js/main.js"></script>
</body>

</html>
